/* 
    This style sheet stylizes the controls inside our
    Web Tree JavaFX application. Note that controls
    in the UI must have the same class as those below in 
    order to be rendered using those properties.

    Author:	Richard McKenna
    Author:	Stephen X Chen
    Version:	1.0
*/

/* CSS CLASS FOR PAGE EDITING BUTTONS */
.tag_button {
    -fx-background-color: 
        linear-gradient(#60537e, #592940),  /*outer border*/
        linear-gradient(#b964aa, #7a4791),  /*inner border*/
        linear-gradient(#cfa8d5, #d58dc8),  /*inner-er border*/
        linear-gradient(#e1bee7 0%, #ce93d8 50%, #ba68c8 100%), /*button*/
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #291d27;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}

/* CSS CLASS FOR PANES TO FILL THEIR FULL REGION */
.max_pane {
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
    -fx-background-color:#c8c8c8;
}

/* CSS CLASS FOR OUR BIG PANES */
.bordered_pane {
    -fx-background-color: #bfdca8;
    -fx-background-radius: 5.0;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-border-width: 2px;
    -fx-border-color: #689f38;
}

/* CSS CLASS FOR LABELS HEADING LARGE SECTIONS IN THE GUI */
.heading_label {
    -fx-font-size: 20pt;
    -fx-font-weight: bold;
}

/* CSS CLASS FOR LABELS HEADING SUBSECTIONS IN THE GUI */
.subheading_label {
    -fx-font-size: 14pt;
    -fx-font-weight: bold;
}

/* CSS CLASS FOR LABELS SERVING AS PROMPTS IN THE GUI */
.prompt_label {
    -fx-font-size: 13pt;
    -fx-font-weight: bold;
}

/* CSS CLASS FOR TEXT FIELDS AT UI PROMPTS */
.prompt_text_field {
    -fx-font-size: 13pt;
}
